.list-group {
	list-style: none;
}

.centered-tabs {
    text-align: center
}

.centered-tabs ul.nav-pills {
    display: inline-block
}

.centered-tabs li {
    display: inline
}

.centered-tabs a {
    float: left
}

* html .centered-tabs ul.nav-pills, *+html .centered-tabs ul.nav-pills {
    display: inline
}

.extra-space {
	padding: 40px 0px 0px 0px;
}

#book-list {
	background-color: black;
	color: white;
	padding-bottom: 40px;
}

#description {
	font-size: 16px;
}

#review-list {
	font-size: 16px;
}

#rating-select {
	border-radius: 5px;
	width: 300px;
	font-size: 16px;
}

#review-area {
	border-radius: 5px;
	width: 300px;
	font-size: 16px;
	border-color: gray;
}

#reviewer-name {
	border-radius: 5px;
	width: 300px;
	font-size: 16px;
}

#submit-btn {
	border-radius: 5px;
	background-color: #009933;
	color: white;
}