.row {
	background-color: black;
}

.list-group {
	list-style: none;
}

.centered-tabs {
    text-align: center
}

.centered-tabs ul.nav-pills {
    display: inline-block
}

.centered-tabs li {
    display: inline
}

.centered-tabs a {
    float: left
}

* html .centered-tabs ul.nav-pills, *+html .centered-tabs ul.nav-pills {
    display: inline
}

.title {
	background-color: #660000;
	color: white;
}

.extra-space {
	padding: 40px 0px 0px 0px;
}

.text-justify {
	text-align: justify;
}

#book-list {
	background-color: black;
	color: white;
	padding-bottom: 40px;
	font-size: 20px;
	height: 100%;
}

#book-display {
	background-image: url("forest.jpg");
	background-color: black;
}

#info-tab {
	color: white;
}

#description-tab {
	color: white;
}

#reviews-tab {
	color: white;
}

#description {
	font-size: 16px;
	color: white;
}

#review-list {
	font-size: 16px;
	color: white;
}

#rating-select {
	border-radius: 5px;
	width: 300px;
	font-size: 16px;
	color: black;
}

#review-area {
	border-radius: 5px;
	width: 300px;
	font-size: 16px;
	border-color: gray;
	color: black;
}

#reviewer-name {
	border-radius: 5px;
	width: 300px;
	font-size: 16px;
	color: black;
}

#submit-btn {
	border-radius: 5px;
	background-color: #009933;
	color: white;
}