<!DOCTYPE html>
<html ng-app="reviewsPage">
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1">
    	<meta charset="utf-8">
		<title>Paranormal Book Reviews</title>
		<link rel="stylesheet" type="text/css" href="css/styles.css">
		<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
	</head>
	<body>
		
		<div class="container-fluid" ng-controller="PageController as pageCtrl">
			<div class="row">
				<div class="col-md-12 text-center">
					<h1>Paranormal Book Reviews</h1>
				</div>
			</div>
			
			<div class="row">
				<!-- List of books -->
				<div>
					<ul class="list-group col-md-2" id="book-list">
						<li ng-repeat="item in pageCtrl.items" class="list-item text-center extra-space"><p ng-click="pageCtrl.show(item)">{{item.name}}</p></li>
					</ul>
				</div>
				<!-- Book Display -->
				<div class="col-md-10" ng-repeat="item in pageCtrl.items">
					<div ng-hide="item.hidden">
						<img class="img-responsive center-block extra-space"  alt="book image" ng-src="{{item.image}}"/>
						<!-- Tabs with book info and reviews -->
						<section class="tab centered-tabs extra-space" ng-controller="TabController as tabCtrl">
						    <ul class="nav nav-pills">
						        <li ng-class="{active: tabCtrl.isSet(1)}">
						            <a href ng-click="tabCtrl.setTab(1)">Info</a></li>
						        <li ng-class="{active: tabCtrl.isSet(2)}">
						            <a href ng-click="tabCtrl.setTab(2)">Description</a></li>
						        <li ng-class="{active: tabCtrl.isSet(3)}">
						            <a href ng-click="tabCtrl.setTab(3)">Reviews</a></li>
						    </ul>
						    <div ng-show="tabCtrl.isSet(1)">
						  		<h4>Info</h4>
						          	<p><strong>{{item.name}}</strong></p>
						          	<p>- {{item.author}}
							</div>
							<div ng-show="tabCtrl.isSet(2)">
						  		<h4>Description</h4>
						 			<blockquote class="text-left">{{item.description}}</blockquote>
							</div>
							<div ng-show="tabCtrl.isSet(3)">
								<ul>
						  			<h4>Reviews</h4>
						  			<li ng-repeat="review in item.reviews">
						  				<blockquote class="text-left">
						  					<strong>{{review.stars}} Stars</strong> {{review.body}}
						  					<cite>- {{review.reviewer}}</cite>
						  				</blockquote>
						  			</li>
						  		</ul>
							</div>
						</section>
					</div>
				</div>
			</div>
					
			
			
		</div>
		
		<script type="text/javascript" src="bower_components/jquery/dist/jquery.min.js"></script>
		<script type="text/javascript" src="bower_components/angular/angular.min.js"></script>
		<script type="text/javascript" src="app.js"></script>
	</body>
</html>